body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    font-size: 18px;
    color: #555;
}

.method-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.method-box {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}

.big-button-container {
    text-align: center;
    margin-top: 20px;
}

.big-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.big-button:hover {
    background-color: #555;
}

#contact-form {
    text-align: center;
    margin-top: 20px;
}

#contact-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#contact-form p {
    color: #555;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form textarea,
#contact-form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#contact-form button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #555;
}
