<!DOCTYPE html>
<html lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js" defer></script>
    <title>Planer trasy dla robotów mobilnych - Navigator</title>
</head>
<body>
    <header>
        <h1>Planer Trasy - Navigator</h1>
    </header>
    <div id="project-info">
        <p>Oprogramowanie będące częścią większego projektu, dla nawigacji robotów i systemów autonomicznych</p>
    </div>

    <div id="load-data-form">
        <div class="method-container">
            <div class="method-box">
                <p>Informacje o aplikacji</p>
                <p1>Jakies info</p1>
            </div>
            <div class="method-box">
                <p>Drugie Info</p>
                <p1>Inny tekst</p1>
            </div>
            <div class="method-box">
                <p>Trzecie Info</p>
                <p1>Inny tekst</p1>
            </div>
        </div>
        <div class="big-button-container">
            <button class="big-button">Załaduj dane i wybierz metode</button>
        </div>
        <div id="contact-form">
            <h2>Integracja aplikacji oraz zastosowanych rozwiązań z różnymi systemami.</h2>
            <p>Opisz problem i wprowadź swoje dane:</p>
            <form action="#" method="post"> <!-- Dodaj właściwy atrybut action z adresem docelowym obsługi formularza -->
                <textarea name="problem_description" rows="5" cols="50" placeholder="Opisz problem"></textarea><br>
                <input type="text" name="name" placeholder="Twoje imię"><br>
                <input type="text" name="email" placeholder="Twój email"><br>
                <button class="big-button" type="submit">Wyślij</button>
            </form>
        </div>
    </div>
</body>
</html>




