<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/rrt_dij_a_aco.css">
    <script type="text/javascript">
        var start_point = '{{ start_point|tojson|safe }}';
        var goal_point = '{{ goal_point|tojson|safe }}';
        var grid = '{{ grid|tojson|safe }}';
        var obstacles = '{{ obstacles|tojson|safe }}';
        var room_coords = '{{ room_coords|tojson|safe }}';
        var ret_path = '{{ ret_path|tojson|safe }}';
    </script>
    <script src="../static/js/rrt_dij_a_aco.js" defer></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Navigator</title>
</head>
<body>
    <header>
        <h1>Planer Trasy - Navigator</h1>
    </header>
    <div id="selected-solution-bar">Wybrane rozwiązanie __algo_name__</div>
    <div id="outer-container">
        <div id="inner-container">
            <div id="left-section">
                <h2>Parametry:</h2>
                <ul>
                    <li>Wymiary Pomieszczenia: <span id="wymiaryPomieszczenia"></span></li>
                    <li>Punkt Startowy: <span id="punktStartowy"></span></li>
                    <li>Punkt Końcowy: <span id="punktKoncowy"></span></li>
                    <li>Przeszkody: <span id="przeszkody"></span></li>
                </ul>
            </div>
            <div id="white-divider"></div>
            <div id="right-section-large">
                <p>Custom Block with Text</p>
                <div id="plot-container"></div>
            </div>
        </div>
    </div>
    <div id="center-section">
        <p>Example output</p>
    </div>
    <div id="download-section">
        <button id="download-button">Download</button>
    </div>
</body>
</html>
