<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/rrt_dij_a_aco.css">
    <script src="../static/js/rrt_dij_a_aco.js" defer></script>
    <title>Navigator</title>
</head>
<body>
    <header>
        <h1>Planer Trasy - Navigator</h1>
    </header>
    <div id="selected-solution-bar">Wybrane rozwiązanie ABC</div>
    <div id="outer-container">
        <div id="inner-container">
            <div id="left-section">
                <p>Example Text</p>
            </div>
            <div id="white-divider"></div>
            <div id="right-section-large">
                <p>Custom Block with Text</p>
            </div>
        </div>
    </div>
    <div id="center-section">
        <p>Example output</p>
    </div>
    <div id="download-section">
        <button id="download-button">Download</button>
    </div>
</body>
</html>
